<% provide(:title, '一覧') %>

<% if params[:search].blank? %>
    <h1>全てのユーザー</h1>
<%else%>
    <h1>検索結果</h1>
<%end%>

<!--  検索拡張機能  -->
 <div id="form1">
      <p>ユーザー名検索</p>
      <%= form_tag(users_path, :method => 'get' ) do %>
      <%= text_field_tag :search, value="", id: "sbox"%>
      <%= submit_tag '検索', :name => nil, id: "sbtn" %>
      <% end %>
 </div>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>


